pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.4
seaborn==0.13.2
nltk==3.9.1
textblob==0.18.0.post0
spaCy==3.8.2
#ta-lib==0.5.1
pynance==0.0.7
pyfolio==0.9.2
yfinance==0.2.18
PyPortfolioOpt==1.5.5
scikit-learn==1.6.0
nbformat==5.10.4